* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
    /* font-weight: 10; */
  }

  table {
    padding: 0px;
    border-collapse: collapse;
  }
  
  /*make all paragraphs the same color and size*/
  p {
    font-size: 20px;
    color: #293241;
    line-height: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }

  b {
    font-weight: 900;
    color: #ee6c4d;
  }

  ol {
    font-size: 20px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: #293241;
    line-height: 50px;
  }

  .muted {
    font-size: 15px;
    color: #3d5a80;
  }

  .div1 {
    padding-top: 35px;
    line-height: 50px;
    padding-bottom: 35px;
  }

  .div2 {
    padding-top: 35px;
    line-height: 50px;
    background-color: #e3f8ff;
  }

  h3 {
    font-size: 20px;
    color: #ee6c4d;
    line-height: 50px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }

  tr img {
    padding-left: 100px;
  }

  tr:nth-child(even) {
    background-color: #e3f8ff;
  }
  
  /*intro paragraph class*/
  /* .para1 {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
  } */
  
  /*Style the home button*/
  .home {
    width: 40px !IMPORTANT;
    height: 40px !IMPORTANT;
    float: left !IMPORTANT;
    padding: 5.1px !IMPORTANT;
  }
  
  /* Style the top navigation bar */
  .navbar {
    /* position: sticky; */
    overflow: hidden;
    background-color: #3d5a80;
  }
  
  /* Style the topnav links */
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change color on hover */
  .navbar a:hover:not(.activepage) {
    background-color: #98c1d9;
    color: #ffffff;
  }
  
  /* indicate active page on nav */
  .navbar a.activepage {
    background-color: #ddd(147, 179, 148);
  }
  
  .divtitlebar {
    font-size: 30px;
    background-color: white;
  }
  
  .h1titlebar {
    text-align: center;
    
  }
  
  .title {
    padding: 20px;
    color: #ee6c4d;
    text-align: center;
  }
  
  /*column*/
  .c {
    float: left;
    padding: 1%;
  }
  
  /*left column*/
  .c.left {
    width: 50%;
  }
  
  /*right column*/
  .c.right {
    width: 45%;
    text-align: right;
  }
  
  /*tutors page table*/
  #tutors {
    padding: 30px;
    padding-top: 0px;
    list-style-type: none;
    position: relative;
  }
  
  #tutors img {
    width: 500px;
    padding-bottom: 30px;
  }
  
  #tutors .text {
    padding: 50px;
    vertical-align: top;
  }
  
  /*programs*/
  #programs {
    /* padding: 30px; */
    padding-top: 0px;
    list-style-type: none;
    position: relative;
  }
  
  #programs img {
    width: 500px;
    padding-bottom: 30px;
  }
  
  #programs .text {
    padding: 50px;
    vertical-align: top;
  }
  
  /*google form*/
  #form {
    text-align: center;
    
  }